body{
	
	margin: 0;
}
.container-fluid {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 780px) {
    .outer {
        width:50%;
        margin:0 auto;
    }
    .content{
    	width: 50%;
		height: 50%;
	margin-top: 6%;
    }
}

.card{
	margin: 10px;

}
.outer{
	background-color:#fff;
	width:100%; 
	margin:0 auto;
}
.upper-part{
	background-color: #31383e;
	width: 100%;
	padding-bottom: 40px;
}
.mookh{
	
	height: 80px;
	margin:0 auto;
	margin-top: 70px;
	text-align: center;
	font-size:50px;
	font-weight: 30px;
	font-family:sans-serif;

}
.mookh img{
	text-decoration: none;
	color: #fbea2a;
	height: 80px;
	
}
.content{
	width: 100%;
	height: 50%;
	margin-top: 6%;

}
.cont1{
	height: 100%;
	float: left;
	color: #fff;
}
.cont2{
	height: 100%;
	float: right;
	color: #fff;
}

.cont1 img{
	width: 35px;
	height: 35px;
	margin-bottom:0; 
}
.cont2 img{
	width: 35px;
	height: 35px;
	margin-bottom:0; 
}
.arrow{
	width: 20px;
	height: 20px;
	float: right;
	margin-top: -33px;
	margin-right:99px;
	background-image:url(../images/arrow.jpg);
}


.search input{
	height: 35px;
	margin-top: 3px;
	border-radius: 4px;
	border-color: #e0dcd3;
	border-style: solid;
	border-width: 1px;
	padding-left: 50px;
	background-color: #31383e;
	


}
.search input:hover{
	background-color:#fff;
	color: #000;
}
.description-1{
	padding: 0;
	margin: 0;
}
.description-2{
	margin: 0;
}
.power p{
	margin-bottom: 0; 
}

.submit-buttons{
	margin-top: 20px;
}
 .submit-buttons input{
 float: left;
 height: 40px;
 color:#000;
 border-style: none;
 margin-right: 50px;
 border-radius: 4px solid white;
 padding-left:  20px;
 border-radius: 5px;
}
.log-in a{
	position: absolute;
	margin-top: 10px;
	margin-left: -30px;
	text-decoration: none;
	color: white;

}
.button2-Signup input{ 
	border-color: #e0dcd3;
	border-style: solid;
	color:#fff;
	border-width: 1px;
	background-color: #31383e;
}
i{
	position:absolute;
	margin-left: 20px;
	margin-top: 12px;
	color: #fff;

}
li{
	display: inline-block;
	color: #9a9997;
	text-align: center;
	padding-top: 20px;
	font-size: 22px;
	margin-right: 30px;
	padding-bottom: 20px;
	border-bottom: 3px solid #f4f2f3;


	

}
li:hover{
	border-color: yellow
}
a:hover{
	color: #31383e;
	border-color:yellow 
}

a{
	text-decoration: none;
	color:#d4d3d1;
	background-color: #9a9997;
}


ul{
	text-decoration: none;
	color: #9a9997;
}
.list{
	margin:0 auto;	
}

hr {
    background-color:#f4f2f3 !important;
    color: #f4f2f3 !important;
    border: solid 1px #f4f2f3!important;
    height: 1px !important;
    margin-top: -19px;
}
.lower-part{
	width: 100%;

}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 !important;
}
.pictures{
	margin: 0 auto;

}
.services-list{
	width: 100%;
	font-size: 25px;
}
.part1{
	margin-bottom: 40px;
	margin-top: 30px;
}



.image1-description{
	padding: 0 10px 0 10px;
}
.image2{

	background-repeat: no-repeat;
	/* background-image: url(../images/imag2.jpg); */
}
.image2-description{
	padding: 0 10px 0 10px;
	margin-bottom: 5px;
}
.image3{
	background-repeat: no-repeat;
	/* background-image: url(../images/imag4.jpg); */
}
.image3-description{
	padding: 10px;
}
.image4{
	
	background-repeat: no-repeat;
	/* background-image: url(../images/imag5.jpg); */

}
.image4-description{
	padding: 10px;
	margin-bottom: 10px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /* padding: 1.25rem; */
}
.image5{
	background-repeat: no-repeat;
	/* background-image: url(../images/imag6.jpg); */
}
.image5-description{
	padding: 10px;
	
}
.image6{

	background-repeat: no-repeat;
	/* background-image: url(../images/imag7.jpg); */
}
.image6-description{
	padding: 10px !important;
}
h3{
	padding-left: 0 0 0 10px;
	
}
ul li a{
	display: inline-block;
}
.button1-learnmore input{
	background-color: #fbea2a;
}
.view button{
	height: 55px;
	text-align: center;
	border-color: #e6e3de;
	border-style: solid;
	color:#555a5e;
	border-width: 1px;
	background-color: #f6f3ee;
	 
}
.footer{
	width: 100%;
	height: 100px;
	background-color: #f6f3ee;
	margin-top: 40px;
}
.more-arrow{
	float: right;
	margin-right:70px; 
	margin-top: 1px;
	width: 20px;
	cursor: pointer;
	height: 20px;
	background-repeat: no-repeat;
	font-weight: bolder !important;
	background-image: url(../images/arrow2.jpg);

}
img{
	width: 100%;
}
